.container {
    height: 100vh;
    width: 100%;
    padding: 4rem;
    box-sizing: border-box;
}

.vector-graphics {
    filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.3));
    animation: vectorAnimation 1s infinite ease-in-out alternate;
    border-radius: 10px;
    opacity: 0.8;
}

// .home{
//     width: 100%;
// }
// .Image{
//     @media screen and (max-width: 450px) {
//         boxSize:'xs'
//     }
// }

@keyframes vectorAnimation {
    to {
        transform: translateY(-10px);
    }
}

.brandsBanner {
    >svg {
        color: white;
        font-size: 3rem;
        transition: color 0.5s;

        &:hover {
            color: rgb(255, 221, 0);
        }
    }
}

.container-2 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    >video {
        border: 1px solid rgba(0, 0, 0, 0.18);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
        width: 60%;
        border-radius: 10px;
        outline: none;
    }

    @media screen and (max-width:600px) {
        height: unset;
        padding: 4rem 0;

        >video {
            width: 100%;
        }
    }
}

.course {
    width: 15rem;
    margin-bottom: 1rem;
    transition: all 0.5s;

    &:hover {
        transform:translate(0, -10px);
    }
}

// @media screen and (min-width: 900px) {
//     .container-stack { 
//         direction: 'column'; 
//     } 
// }